.filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
    background-color: #94B73C;
    padding: 25px;
}

.filter-input {
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 0.95rem;
}

.filter-select {
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.filter-btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.download-btn {
  background-color: #ffffff;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.add-btn {
    background-color: #ffffff;
    border: none;
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.add-btn svg {
    color: #94B73C;
}
