.filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filter-input {
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 0.95rem;
}

.filter-select {
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.filter-btn {
  background-color: #8dc63f;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.download-btn {
  background-color: #dce775;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
